<?xml version="1.0" encoding="UTF-8"?> 
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
   <display-name>ServletCommune</display-name>
    
    <servlet>
        <servlet-name>insertMariage</servlet-name>
        <servlet-class>etu966_harena.InsertMariage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertMariage</servlet-name>
        <url-pattern>/mariage</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>base</servlet-name>
        <servlet-class>etu966_harena.Base</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>base</servlet-name>
        <url-pattern>/base</url-pattern>
    </servlet-mapping>

      <servlet>
       <servlet-name>ServletNaissance</servlet-name>
       <servlet-class>etu1027_Onintsoa.ServletNaissance</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletNaissance</servlet-name>
		<url-pattern>/servletNaissance.jsp</url-pattern>
	</servlet-mapping>

</web-app>